<div class="rsvp__header">
	<div class="table__wrapper dark-blue__blackground">
		<div class="table__inner">
			<div class="hidden header__thank-you--wrapper home white__border">
				<div class="table__wrapper dark-blue__blackground">
					<div class="table__inner">
						<div class="thank-you__header text__align--center white__text">
							<p class="text__align--center navy__text body__text">
								Thanks!
							</p>
							<p class="text__align--center section__four--content navy__text smaller">
								Stay tuned for more details
							</p>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>