<div class="options__line events">
</div>
<div class="options__wrapper events">
	<div class="option__wrapper one event">
		<div data-img="meet-and-greet" class="circle-indicator option-one active event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-geres-canicada" target="_blank">
					Meet &amp; Greet<br>
				</a>
			</p>
			<p class="event-text navy__text active">
				Meet and greet ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
	</div>
	<div class="option__wrapper two event">
		<div data-img="wedding" class="circle-indicator option-two event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
					Wedding
				</a>
			</p>
			<p class="event-text navy__text">
				Wedding ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
	</div>
	<div class="option__wrapper three event">
		<div data-img="reception" class="circle-indicator option-three event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
					Reception
				</a>
			</p>
			<p class="event-text navy__text">
				Reception ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
	</div>
	<div class="option__wrapper four event">
		<div data-img="bbq" class="circle-indicator option-four event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
					Farewell BBQ
				</a>
			</p>
			<p class="event-text navy__text">
				BBQ ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
	</div>
</div>