<div class="options__line events">
</div>
<div class="options__wrapper events">
	<div class="option__wrapper one event">
		<div data-img="meet-and-greet" class="circle-indicator option-one active event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-geres-canicada" target="_blank">
					Meet &amp; Greet<br>
				</a>
			</p>
			<p class="event-text navy__text active">
				Catch up with old friends and mingle with new ones! Welcome drinks and hors d’oeuvres to start off our celebration! 
			</p>
		</div>	
	</div>
	<div class="option__wrapper two event">
		<div data-img="wedding" class="circle-indicator option-two event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
					Wedding
				</a>
			</p>
			<p class="event-text navy__text">
				Join us for our “WE DO!”
			</p>
		</div>	
	</div>
	<div class="option__wrapper three event">
		<div data-img="reception" class="circle-indicator option-three event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
					Reception
				</a>
			</p>
			<p class="event-text navy__text">
				Cocktails, dinner, and dancing! Show us your fancy footwork.
			</p>
		</div>	
	</div>
	<div class="option__wrapper four event">
		<div data-img="bbq" class="circle-indicator option-four event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
					Farewell BBQ
				</a>
			</p>
			<p class="event-text navy__text">
				Last goodbyes to the new Mr. and Mrs. We love you!
			</p>
		</div>	
	</div>
</div>