<div class="options__line events">
</div>
<div class="options__wrapper events">
	<div class="option__wrapper one event">
		<div data-img="meet-and-greet" class="circle-indicator option-one active event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-geres-canicada" target="_blank">
					Conhe&ccedil;a e Sa&uacute;da<br>
				</a>
			</p>
			<p class="event-text navy__text active">
				Converse com velhos amigos e misture-se com os novos! Bebidas de boas-vindas e hors d'oeuvres para come&ccedil;ar a nossa celebra&ccedil;&atilde;o!
			</p>
		</div>	
	</div>
	<div class="option__wrapper two event">
		<div data-img="wedding" class="circle-indicator option-two event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
					Cerim&ocirc;nia
				</a>
			</p>
			<p class="event-text navy__text">
				Junte-se a n&oacute;s para nosso &quot;SIM!&quot;
			</p>
		</div>	
	</div>
	<div class="option__wrapper three event">
		<div data-img="reception" class="circle-indicator option-three event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
					Rece&ccedil;&atilde;o
				</a>
			</p>
			<p class="event-text navy__text">
				Cocktails, jantar e dan&ccedil;a! Mostre-nos o seu talento na pista de dan&ccedil;a.
			</p>
		</div>	
	</div>
	<div class="option__wrapper four event">
		<div data-img="bbq" class="circle-indicator option-four event">
			
		</div>
		<div class="option-text">
			<p class="navy__text larger">
				<a href="https://www.google.com/maps/place/Casa+Casal+Do+Carvalhal,+Rua+do+Carvalhal,+Nº76,+Barreiros+-+Amares,+4720-103+Braga,+Portugal/@41.616766,-8.4303619,13z/data=!4m15!1m6!3m5!1s0xd250201e9be84bb:0xf9dd178a5bbf77ba!2sCasa+Casal+Do+Carvalhal!8m2!3d41.616766!4d-8.395343!4m7!1m0!1m5!1m1!1s0xd250201e9be84bb:0xf9dd178a5bbf77ba!2m2!1d-8.395343!2d41.616766" target="_blank">
					Adeus Churrasco
				</a>
			</p>
			<p class="event-text navy__text">
				&Uacute;ltimo adeus ao novo casal Sr. e Sra. N&oacute;s amamos-vos!
			</p>
		</div>	
	</div>
</div>