<nav class="desktop-only row">
	<ul>
		<li>
			<p data-scroll-to="our-story" class="scroll-trigger">
				about us
			</p>
		</li>
		<li>
			<p data-scroll-to="itinerary" class="scroll-trigger">
				itinerary
			</p>
		</li>	
		<li>
			<p data-scroll-to="travel" class="scroll-trigger">
				travel
			</p>
		</li>
		<li>
			<p data-scroll-to="accomodations" class="scroll-trigger">
				accomodations
			</p>
		</li>
		<li>
			<p data-scroll-to="registry" class="scroll-trigger">
				registry
			</p>
		</li>
		<li>
			<p data-scroll-to="rsvp" class="scroll-trigger">
				rsvp
			</p>
		</li>
	</ul>
</nav>
<div class="rsvp__header row">
	<div class="table__wrapper dark-blue__blackground">
		<div class="table__inner">
			<div class="hidden home header__name--wrapper home white__border">
				<div class="table__wrapper dark-blue__blackground">
					<div class="table__inner">
						<div class="margin__top--10 names__header text__align--center white__text">
							<span class="names__header">
								R
							</span>
							<span class="names__header plus">
								+
							</span>
							<span class="names__header right">
							 	W
							 </span>
							 <p class="margin__top--10 text__align--center section__four--content navy__text smaller">
							 	July 3, 2017
							 </p>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>
<div class="home__section section section__two home row our-story">
	<div class="section__two--inner image col-lg-6 col-md-6 col-sm-12">
	</div>
	<div class="section__two--inner blue col-lg-6 col-md-6 col-sm-12">
		<div class="table__wrapper">
			<div class="table__inner">
				<div class="our-story__text-wrapper">
					<h3 class="our-story white__text text__align--center smaller">
						ABOUT US
					</h3>
					<ul class="story-tabs">
						<li class="story-trigger active">
							Our Story
						</li>
						<li class="smaller" display="block">
							or
						</li>
						<li class="story-trigger">
							By the Numbers
						</li>
					</ul>
					<p class="story white__text active">
						Thirteen years ago, boy sees girl… but with nerves, does not approach.
						Girl sees boy too, jumping off buildings and doing flips with his friends. Girl thinks boy is crazy.
						Eight years later, boy finds out they both live in New York City. Boy would not make the same mistake again.
						Boy writes girl a note and invites her on date. Boy and girl don’t know yet they would become husband and wife.
						Girl and boy play all around the city. Boy makes girl laugh and also blush.
						Girl makes boy want to adventure. They run through an open fire hydrant and get sprayed. Boy kisses girl while the water sprinkles down on them. Girl likes boy. Boy likes girl. Five beautiful years they play and dream and love. Boy and girl want to grow old together. Boy and girl are getting married!
					</p>
					<div class="numbers story white__text">
						<ol class="story-list" reversed type="1">
							<li>
								<p class="story-list-text">
									Number of years since they first met. <span class="story-detail">(YOUNG COLLEGE KIDS, WHO IGNORED EACH OTHER.)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of minutes it took Ross to give Wel full eye contact on their first date. <span class="story-detail">(HE WAS SHY!)</span>
								</p>
							</li>	
							
							<li>
								<p class="story-list-text">
									Number of photo booth visits at Bushwick Country Club to celebrate pretty much anything.<span class="story-detail">(AND MANY MORE TO COME!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of venues they visited before finding their wedding spot!<span class="story-detail">(CAN’T WAIT TO BE THERE WITH YOU ALL!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of countries that will be represented at the wedding by guests!<span class="story-detail">(WE LOVE YOU GUYS!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of years after meeting they had their first date. <span class="story-detail">(WEL CAN’T BELIEVE IT EITHER)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of countries they have travelled to together. <span class="story-detail">(CAN’T WAIT TO TACK MORE ON!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of iced teas Wel drinks daily. <span class="story-detail">(DON’T FORGET THE LEMON WEDGE!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of years they have been together.<span class="story-detail">(TIME FLIES)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of months they dated before moving in together.<span class="story-detail">(WE MOVE QUICKLY)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of orders of beef tartar Ross has eaten in one sitting. <span class="story-detail">(DISTRUBINGLY AWESOME)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of apartments they have lived in together.<span class="story-detail">(OUR LOVE NESTS)</span>
								</p>	
							</li>
							
							<li>
								<p class="story-list-text">
									number of times they have been engaged. <span class="story-detail">(CAN’T WAIT FOR THE WEDDING!)</span>
								</p>	
							</li>
						</ol>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>

<div class="home__section itinerary events row">
	<div class="table__wrapper mobile-off">
		<div class="table__inner mobile-off">
			<div class="events our-story__text-wrapper">
				<h3 class="our-story navy__text text__align--center smaller">
					ITINERARY
				</h3>
				<p class="navy__text desktop-only">
					We are BEYOND excited to celebrate with you! Below is our schedule of festivities for the three days. Please click on the dots to get more information about each event&mdash;including time, location and directions.
				</p>
				<p class="navy__text mobile-only">
					We are BEYOND excited to celebrate with you! Below is our schedule of festivities for the three days. Please scroll down to get more information about each event&mdash;including time, location and directions.
				</p>
				<div class="desktop-only meet-and-greet event-image option-one active">
				</div>
				<div class="desktop-only wedding event-image option-two">
				</div>
				<div class="desktop-only reception event-image option-three">
				</div>
				<div class="desktop-only bbq event-image option-four">
				</div>
				<div class="row margin__bottom--40">
					<%= render partial: 'date-time-modules' %>	
				</div>	
				<div class="events-details__wrapper row margin__bottom--40">
					<%= render partial: 'events-details' %>	
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="home__section transport travel row">
	<div class="table__wrapper">
		<div class="table__inner">
			<div class="our-story__text-wrapper">
				<h3 class="our-story white__text text__align--center smaller">
					TRAVEL
				</h3>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="airplane">
						
					</div>
					<p class="white__text">
						The closest airport to the venue is Oporto. You can also fly into Lisbon, which can be cheaper than Oporto, and venture up via car or train to Braga.
					</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="car">
						
					</div>
					<p class="white__text">
						Regardless of which airport you choose, we recommend renting a car to facilitate your adventure, as public transportation in Minho is somewhat limited. By car, Oporto is ~ 75 mins, and Lisbon is ~ 4 hours from the venue. Drive carefully and watch the traffic signs!
					</p>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="home__section accomodations hotels row">
	<div class="table__wrapper mobile-off">
		<div class="table__inner mobile-off">
			<div class="hotels our-story__text-wrapper">
				<h3 class="margin__top--60 our-story navy__text text__align--center smaller">
					ACCOMODATIONS
				</h3>
				<p class="navy__text">
					We have saved rooms at Pousada Mosteiro de Amares, a beautiful hotel in the heart of the Cávado River Valley. 

					Reservations for rooms are on a first-come-first-serve basis, as the location is boutique in size. For additional accomodation options, please contact us!
					
					To learn more and reserve your room at Pousada Mosteiro de Amares email <span class="email_address">catarina.ferreira@pestana.com</span> and use subject <em>“Wel + Ross Wedding”</em>.
				</p>
				<div class="geres hotel-image option-one">
				</div>
				<div class="amares hotel-image option-two active">
				</div>
<!-- 				<div class="options__line hotels">
				</div>
				<div class="options__wrapper">
					<div class="option__wrapper one">
						<div class="circle-indicator hotel option-one active">
							
						</div>
						<div class="option-text">
							<p class="navy__text larger">
								<a href="http://www.pousadas.pt/en/hotel/pousada-geres-canicada" target="_blank">
									Pousada Geres<br>
								</a>
							</p>
							<div class="hotel-text navy__text active">
								<div class="registry__buttons--wrapper">
									<a href="https://www.pousadas.pt/en/hotel/pousada-geres-canicada" target="_blank" class="hotel button centered" href="">
										DETAILS
									</a>
								</div>
							</div>
						</div>	
					</div>
					<div class="option__wrapper two">
						<div class="circle-indicator hotel option-two">
							
						</div>
						<div class="option-text">
							<p class="navy__text larger">
								<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
									Pousada Mosteiro de Amares
								</a>
							</p>
							<div class="hotel-text navy__text">
								<div class="registry__buttons--wrapper">
									<a href="http://pousadas.pt/en/hotel/pousada-amares" target="_blank" class="hotel button centered" href="">
										DETAILS
									</a>
								</div>
							</div>
						</div>	
					</div>
				</div>	 -->
				<div class="navy__text">
					<div class="registry__buttons--wrapper">
						<a href="http://pousadas.pt/en/hotel/pousada-amares" target="_blank" class="hotel button centered" href="">
							DETAILS
						</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
<div class="home__section registry row">
	<div class="table__wrapper mobile-off">
		<div class="table__inner mobile-off">
			<div class="hotels our-story__text-wrapper">
				<h3 class="our-story white__text text__align--center smaller">
					REGISTRY
				</h3>
				<p class="white__text">
					What we want most for our wedding is to have all of our far-flung friends and family in the same room (we really mean it!) <br>That said, if you really want to get us a little something check out the registry below.
				</p>
				<div class="registry__buttons--wrapper">
					<a class="inverse button centered" target="_blank" href="https://www.zola.com/registry/welandross">
						REGISTRY
					</a>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="home__section rsvp section__four home row">
	<div class="table__wrapper">
		<div class="table__inner">
			<div class="section__four--header__wrapper white__border home">
				<div class="table__wrapper">
					<div class="table__inner">
						<div class="section__four--inner-wrapper">
							<p class="rsvp-message navy__text">
								Enter your email below to RSVP or update your attendance status.
							</p>
							<span class="error__message" id="errorMessage">
								
							</span>
							<form id="lookUpByEmail" action="/look-up-by-email">
								<input placeholder="Email" id="emailInput" type="text" name="email_address" class="form-control string optional">
								<button class="submit__button home-rsvp" type="button" id="emailLookUp">
									RSVP
								</button>
							</form>
						</div>	
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function() {
		$('.section__two--inner.image').backstretch('<%= asset_path("photo-strips.png") %>');
	});
</script>

<!-- <div class="mobile-map-info__outer-wrapper">
	<div class="mobile map-info__wrapper">
		<div class="our-story__text-wrapper no-pad">
			<h3 class="venue our-story navy__text text__align--center smaller">
				VENUE
			</h3>
			<p class="navy__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
		<div class="map-info__blue-border">
			
		</div>
	</div>
</div>	

<div class="home__section map row">
	<div id="amares-map">
		
	</div>
	<div class="map-info__wrapper">
		<div class="our-story__text-wrapper no-pad">
			<h3 class="venue our-story navy__text text__align--center smaller">
				VENUE
			</h3>
			<p class="navy__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
		<div class="map-info__blue-border">
			
		</div>
	</div>
</div> -->

<!-- <script>
  function initMap() {
    var amares = {lat: 41.659334, lng: -8.2706895};
    var map = new google.maps.Map(document.getElementById('amares-map'), {
		zoom: 12,
		center: amares,
		scrollwheel: false,
		mapTypeControl: false,
		scaleControl: false,
		// draggable: false,
		styles: [
		    {
		        "featureType": "administrative",
		        "elementType": "labels.text",
		        "stylers": [
		            {
		                "color": "#ff0000"
		            },
		            {
		                "visibility": "simplified"
		            }
		        ]
		    },
		    {
		        "featureType": "administrative",
		        "elementType": "labels.text.fill",
		        "stylers": [
		            {
		                "color": "#444444"
		            }
		        ]
		    },
		    {
		        "featureType": "landscape",
		        "elementType": "all",
		        "stylers": [
		            {
		                "color": "#f2f2f2"
		            }
		        ]
		    },
		    {
		        "featureType": "poi",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "road",
		        "elementType": "all",
		        "stylers": [
		            {
		                "saturation": -100
		            },
		            {
		                "lightness": 45
		            }
		        ]
		    },
		    {
		        "featureType": "road.highway",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "simplified"
		            }
		        ]
		    },
		    {
		        "featureType": "road.arterial",
		        "elementType": "labels.icon",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "transit",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "all",
		        "stylers": [
		            {
		                "color": "#46bcec"
		            },
		            {
		                "visibility": "on"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "geometry.fill",
		        "stylers": [
		            {
		                "color": "#23386D"
		            },
		            {
		                "saturation": "0"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "labels.text",
		        "stylers": [
		            {
		                "color": "#ffffff"
		            }
		        ]
		    }
		]
    });
	var icon = '<%= asset_path("wedding-icon.png") %>';
    var marker = new google.maps.Marker({
      position: amares,
      icon: icon,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl9VrzyocMSOkqpdC2DvGjWZeDeCDf-S8&callback=initMap" async defer></script> -->