<nav>
	<ul>
		<li>
			<p>
				our story
			</p>
		</li>
		<li>
			<p>
				accomodations
			</p>
		</li>	
		<li>
			<p>
				rsvp
			</p>
		</li>
	</ul>
</nav>
<div class="rsvp__header">
	<div class="table__wrapper dark-blue__blackground">
		<div class="table__inner">
			<div class="hidden home header__name--wrapper home white__border">
				<div class="table__wrapper dark-blue__blackground">
					<div class="table__inner">
						<div class="margin__top--10 names__header text__align--center white__text">
							<span class="names__header">
								R
							</span>
							<span class="names__header plus">
								+
							</span>
							<span class="names__header right">
							 	W
							 </span>
							 <p class="margin__top--10 text__align--center section__four--content navy__text smaller">
							 	July 3, 2017
							 </p>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>
<div class="section__two home">
	<div class="section__two--inner image col-lg-6 col-md-6 col-sm-12">
	</div>
	<div class="section__two--inner blue col-lg-6 col-md-6 col-sm-12">
		<div class="table__wrapper">
			<div class="table__inner">
				<div class="our-story__text-wrapper">
					<h3 class="our-story white__text text__align--center smaller">
						OUR STORY
					</h3>
					<p class="white__text">
						Boy sees girl…13 years ago…but doesn’t approach and keeps to himself.
						Girl sees boy doing backflips with his friends. Girl thinks boy is crazy.
						8 years later boy finds out girl now lives in the same city. Boy would not make the same mistake again.
						Boy writes girl a note and invites her on date. Boy and girl don’t know yet they would become husband and wife.
						Boy has a hard time looking girl in the eyes. Girl thinks boy is bored, but boy was just shy.
						Boy grows courage and looks girl in the eye and invites her to continue the evening. Girl and boy hop around the city. Boy makes girl laugh and also blush. Boy and girl make the evening an unexpected adventure. They run through an exploded fire hydrant and get sprayed. Boy kisses girl while the water sprinkles down on them. Girl likes boy. Boy likes girl. 5 beautiful years they play and dream and love. Boy and Girl want to grow old together. And, now boy and girl are getting married!
					</p>
				</div>	
			</div>
		</div>	
	</div>
</div>

<div class="home__section hotels">
	<div class="table__wrapper mobile-off">
			<div class="table__inner mobile-off">
				<div class="hotels our-story__text-wrapper">
					<h3 class="our-story navy__text text__align--center smaller">
						ACCOMODATIONS
					</h3>
					<p class="navy__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<div class="amares hotel-image option-one active">
					</div>
					<div class="geres hotel-image option-one">
					</div>
					<div class="options__line hotels">
					</div>
					<div class="options__wrapper">
						<div class="option__wrapper one">
							<div class="circle-indicator option-one active">
								
							</div>
							<div class="option-text">
								<p class="navy__text larger">
									<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
										Pousada Mosteiro de Amares
									</a>
								</p>
								<p class="hotel-text navy__text active">
									AMARES ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</div>	
						</div>
						<div class="option__wrapper two">
							<div class="circle-indicator option-two">
								
							</div>
							<div class="option-text">
								<p class="navy__text larger">
									<a href="http://www.pousadas.pt/en/hotel/pousada-geres-canicada" target="_blank">
										Pousada Geres<br>
									</a>
								</p>
								<p class="hotel-text navy__text">
									GERES ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</div>	
						</div>
					</div>	
				</div>	
			</div>
		</div>	
	</div>
</div>

<div class="home__section transport">
	<div class="table__wrapper">
		<div class="table__inner">
			<div class="our-story__text-wrapper">
				<h3 class="our-story white__text text__align--center smaller">
					TRAVEL
				</h3>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<p class="white__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<p class="white__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<p class="white__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="mobile-map-info__outer-wrapper">
	<div class="mobile map-info__wrapper">
		<div class="our-story__text-wrapper no-pad">
			<h3 class="venue our-story navy__text text__align--center smaller">
				VENUE
			</h3>
			<p class="navy__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
		<div class="map-info__blue-border">
			
		</div>
	</div>
</div>	

<div class="home__section map">
	<div id="amares-map">
		
	</div>
	<div class="map-info__wrapper">
		<div class="our-story__text-wrapper no-pad">
			<h3 class="venue our-story navy__text text__align--center smaller">
				VENUE
			</h3>
			<p class="navy__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
		<div class="map-info__blue-border">
			
		</div>
	</div>
</div>



<div class="home__section registry">
	<div class="table__wrapper mobile-off">
			<div class="table__inner mobile-off">
				<div class="hotels our-story__text-wrapper">
					<h3 class="our-story navy__text text__align--center smaller">
						REGISTRY
					</h3>
					<p class="navy__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<div class="registry__buttons--wrapper">
						<a class="button left" href="">
							HONEY FUND
						</a>
						<a class="button right" href="">
							ZOLA REGISTRY
						</a>
					</div>
				</div>	
			</div>
		</div>		
	</div>
</div>

<div class="section__four home">
	<div class="table__wrapper">
		<div class="table__inner">
			<div class="section__four--header__wrapper white__border home">
				<div class="table__wrapper">
					<div class="table__inner">
						<div class="section__four--inner-wrapper">
							<p class="rsvp-message navy__text">
								Enter your email below to RSVP or update your attendance status.
							</p>
							<span class="error__message" id="errorMessage">
								
							</span>
							<form id="lookUpByEmail" action="/look-up-by-email">
								<input placeholder="Email" id="emailInput" type="text" name="email_address" class="form-control string optional">
								<button class="submit__button home-rsvp" type="button" id="emailLookUp">
									RSVP
								</button>
							</form>
						</div>	
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function() {
		$('.section__two--inner.image').backstretch('<%= asset_path("photo-strips.png") %>');
	});
</script>
<script>
  function initMap() {
    var amares = {lat: 41.659334, lng: -8.2706895};
    var map = new google.maps.Map(document.getElementById('amares-map'), {
		zoom: 12,
		center: amares,
		scrollwheel: false,
		mapTypeControl: false,
		scaleControl: false,
		// draggable: false,
		styles: [
		    {
		        "featureType": "administrative",
		        "elementType": "labels.text",
		        "stylers": [
		            {
		                "color": "#ff0000"
		            },
		            {
		                "visibility": "simplified"
		            }
		        ]
		    },
		    {
		        "featureType": "administrative",
		        "elementType": "labels.text.fill",
		        "stylers": [
		            {
		                "color": "#444444"
		            }
		        ]
		    },
		    {
		        "featureType": "landscape",
		        "elementType": "all",
		        "stylers": [
		            {
		                "color": "#f2f2f2"
		            }
		        ]
		    },
		    {
		        "featureType": "poi",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "road",
		        "elementType": "all",
		        "stylers": [
		            {
		                "saturation": -100
		            },
		            {
		                "lightness": 45
		            }
		        ]
		    },
		    {
		        "featureType": "road.highway",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "simplified"
		            }
		        ]
		    },
		    {
		        "featureType": "road.arterial",
		        "elementType": "labels.icon",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "transit",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "all",
		        "stylers": [
		            {
		                "color": "#46bcec"
		            },
		            {
		                "visibility": "on"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "geometry.fill",
		        "stylers": [
		            {
		                "color": "#295785"
		            },
		            {
		                "saturation": "0"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "labels.text",
		        "stylers": [
		            {
		                "color": "#ffffff"
		            }
		        ]
		    }
		]
    });
	var icon = '<%= asset_path("wedding-icon.png") %>';
    var marker = new google.maps.Marker({
      position: amares,
      icon: icon,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl9VrzyocMSOkqpdC2DvGjWZeDeCDf-S8&callback=initMap" async defer></script>