<div class="rsvp__header">
	<div class="table__wrapper dark-blue__blackground">
		<div class="table__inner">
			<div class="hidden home header__name--wrapper rsvp white__border">
				<div class="table__wrapper dark-blue__blackground">
					<div class="table__inner">
						<div class="margin__top--10 names__header text__align--center white__text">
							<span class="names__header">
								R
							</span>
							<span class="names__header plus">
								+
							</span>
							<span class="names__header right">
							 	W
							 </span>
							 <p class="margin__top--10 text__align--center section__four--content navy__text smaller">
							 	July 3, 2017
							 </p>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>
<div class="section__two container">
	<div class="table__wrapper">
		<div class="table__inner">
			<span class="error__message" id="errorMessage">
				
			</span>
			<form id="lookUpByEmail" action="/look-up-by-email">
				<input placeholder="Email" id="emailInput" type="text" name="email_address" class="form-control string optional">
				<button class="submit__button" type="button" id="emailLookUp">
					RSVP
				</button>
			</form>
		</div>	
	</div>			
</div>