<nav class="desktop-only row">
	<ul>
		<li>
			<p data-scroll-to="our-story" class="scroll-trigger">
				about us
			</p>
		</li>
<!-- 		<li>
			<p data-scroll-to="itinerary" class="scroll-trigger">
				itinerary
			</p>
		</li>	
		<li>
			<p data-scroll-to="travel" class="scroll-trigger">
				travel
			</p>
		</li>
		<li>
			<p data-scroll-to="accomodations" class="scroll-trigger">
				accomodations
			</p>
		</li> -->
		<li>
			<p>
				<!-- <a href="https://cluster.co/i/VA7C6G9Q" target="_blank"> -->
				<a href="https://goo.gl/photos/uiSYF1W6xkHeo11m7" target="_blank">
					photos
				</a>
			</p>
		</li>
		<li>
			<p data-scroll-to="registry" class="scroll-trigger">
				registry
			</p>
		</li>
<!-- 		<li>
			<p data-scroll-to="rsvp" class="scroll-trigger">
				rsvp
			</p>
		</li> -->
	</ul>
</nav>
<div class="rsvp__header row">
	<div class="table__wrapper dark-blue__blackground">
		<div class="table__inner">
			<div class="hidden home header__name--wrapper home white__border">
				<div class="table__wrapper dark-blue__blackground">
					<div class="table__inner">
						<div class="margin__top--10 names__header text__align--center white__text">
							<span class="names__header">
								R
							</span>
							<span class="names__header plus">
								+
							</span>
							<span class="names__header right">
							 	W
							 </span>
							 <p class="margin__top--10 text__align--center section__four--content navy__text smaller">
							 	July 3, 2017
							 </p>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>
<div class="home__section section section__two home row our-story">
	<div class="section__two--inner image col-lg-6 col-md-6 col-sm-12">
	</div>
	<div class="section__two--inner blue col-lg-6 col-md-6 col-sm-12">
		<div class="table__wrapper">
			<div class="table__inner">
				<div class="our-story__text-wrapper">
					<h3 class="our-story white__text text__align--center smaller">
						ABOUT US
					</h3>
					<ul class="story-tabs">
						<li class="story-trigger active">
							Our Story
						</li>
						<li class="smaller" display="block">
							or
						</li>
						<li class="story-trigger">
							By the Numbers
						</li>
					</ul>
					<p class="story white__text active">
						Thirteen years ago, boy sees girl… but with nerves, does not approach.
						Girl sees boy too, jumping off buildings and doing flips with his friends. Girl thinks boy is crazy.
						Eight years later, boy finds out they both live in New York City. Boy would not make the same mistake again.
						Boy writes girl a note and invites her on date. Boy and girl don’t know yet they would become husband and wife.
						Girl and boy play all around the city. Boy makes girl laugh and also blush.
						Girl makes boy want to adventure. They run through an open fire hydrant and get sprayed. Boy kisses girl while the water sprinkles down on them. Girl likes boy. Boy likes girl. Five beautiful years they play and dream and love. Boy and girl want to grow old together. Boy and girl are getting married!
					</p>
					<div class="numbers story white__text">
						<ol class="story-list" reversed type="1">
							<li>
								<p class="story-list-text">
									Number of years since they first met. <span class="story-detail">(YOUNG COLLEGE KIDS, WHO IGNORED EACH OTHER.)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of minutes it took Ross to give Wel full eye contact on their first date. <span class="story-detail">(HE WAS SHY!)</span>
								</p>
							</li>	
							
							<li>
								<p class="story-list-text">
									Number of photo booth visits at Bushwick Country Club to celebrate pretty much anything.<span class="story-detail">(AND MANY MORE TO COME!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of venues they visited before finding their wedding spot!<span class="story-detail">(CAN’T WAIT TO BE THERE WITH YOU ALL!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of countries that will be represented at the wedding by guests!<span class="story-detail">(WE LOVE YOU GUYS!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of years after meeting they had their first date. <span class="story-detail">(WEL CAN’T BELIEVE IT EITHER)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of countries they have travelled to together. <span class="story-detail">(CAN’T WAIT TO TACK MORE ON!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of iced teas Wel drinks daily. <span class="story-detail">(DON’T FORGET THE LEMON WEDGE!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of years they have been together.<span class="story-detail">(TIME FLIES)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of months they dated before moving in together.<span class="story-detail">(WE MOVE QUICKLY)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of orders of beef tartar Ross has eaten in one sitting. <span class="story-detail">(DISTRUBINGLY AWESOME)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of apartments they have lived in together.<span class="story-detail">(OUR LOVE NESTS)</span>
								</p>	
							</li>
							
							<li>
								<p class="story-list-text">
									number of times they have been engaged. <span class="story-detail">(CAN’T WAIT FOR THE WEDDING!)</span>
								</p>	
							</li>
						</ol>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>

<div class="photos home__section registry row">
	<div class="table__wrapper mobile-off">
		<div class="table__inner mobile-off">
			<div class="photos our-story__text-wrapper">
				<h3 class="navy__text our-story text__align--center smaller">
					WEDDING PHOTOS
				</h3>
				<div class="registry__buttons--wrapper">
					<a class="button centered" target="_blank" href="https://goo.gl/photos/uiSYF1W6xkHeo11m7">
						ENJOY!
					</a>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="home__section registry row">
	<div class="table__wrapper mobile-off">
		<div class="table__inner mobile-off">
			<div class="hotels our-story__text-wrapper">
				<h3 class="our-story white__text text__align--center smaller">
					REGISTRY
				</h3>
				<p class="white__text">
					What we want most for our wedding is to have all of our far-flung friends and family in the same room (we really mean it!) <br>That said, if you really want to get us a little something check out the registry below.
				</p>
				<div class="registry__buttons--wrapper">
					<a class="inverse button centered" target="_blank" href="https://www.zola.com/registry/welandross">
						REGISTRY
					</a>
				</div>
			</div>	
		</div>
	</div>
</div>


<script>
	$(document).on('turbolinks:load', function() {
		$('.section__two--inner.image').backstretch('<%= asset_path("photo-strips.png") %>');
	});
</script>