<div class="rsvp__header splash">
	<div class="table__wrapper dark-blue__blackground">
		<div class="table__inner">
			<div class="hidden header__name--wrapper home white__border">
				<div class="table__wrapper dark-blue__blackground">
					<div class="table__inner">
						<div class="margin__top--10 names__header text__align--center white__text">
							<span class="names__header">
								R
							</span>
							<span class="names__header plus">
								+
							</span>
							<span class="names__header right">
							 	W
							 </span>
							 <p class="margin__top--10 text__align--center section__four--content navy__text smaller">
							 	July 3, 2017
							 </p>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>
<div class="splash__bottom">
	<div class="splash__container container">
		<div class="table__wrapper">
			<div class="table__inner">		
				<p class="margin__top--20 margin__bottom--0 body__text text__align--center">
					Full website coming soon. Stay tuned!
				</p>
			</div>	
		</div>			
	</div>
</div>