<nav class="desktop-only">
	<ul>
		<li>
			<p data-scroll-to="our-story" class="scroll-trigger">
				SOBRE N&Oacute;S
			</p>
		</li>
		<li>
			<p data-scroll-to="itinerary" class="scroll-trigger">
				ITINER&Aacute;RIO
			</p>
		</li>	
		<li>
			<p data-scroll-to="travel" class="scroll-trigger">
				viagem
			</p>
		</li>
		<li>
			<p data-scroll-to="accomodations" class="scroll-trigger">
				accomodations
			</p>
		</li>
		<li>
			<p data-scroll-to="registry" class="scroll-trigger">
				registry
			</p>
		</li>
		<li>
			<p data-scroll-to="rsvp" class="scroll-trigger">
				rsvp
			</p>
		</li>
	</ul>
</nav>
<div class="rsvp__header">
	<div class="table__wrapper dark-blue__blackground">
		<div class="table__inner">
			<div class="hidden home header__name--wrapper home white__border">
				<div class="table__wrapper dark-blue__blackground">
					<div class="table__inner">
						<div class="margin__top--10 names__header text__align--center white__text">
							<span class="names__header">
								R
							</span>
							<span class="names__header plus">
								+
							</span>
							<span class="names__header right">
							 	W
							 </span>
							 <p class="margin__top--10 text__align--center section__four--content navy__text smaller">
							 	Julho 3, 2017
							 </p>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>
<div class="home__section section section__two home row our-story">
	<div class="section__two--inner image col-lg-6 col-md-6 col-sm-12">
	</div>
	<div class="section__two--inner blue col-lg-6 col-md-6 col-sm-12">
		<div class="table__wrapper">
			<div class="table__inner">
				<div class="our-story__text-wrapper">
					<h3 class="our-story white__text text__align--center smaller">
						SOBRE N&Oacute;S
					</h3>
					<ul class="story-tabs">
						<li class="story-trigger active">
							A Nossa Estoria
						</li>
						<li class="story-trigger">
							Pelos N&uacute;meros
						</li>
					</ul>
					<p class="story white__text active">
						Treze anos atr&aacute;s, o menino v&ecirc; a menina ... mas com nervos, n&atilde;o se aproxima. A menina tamb&eacute;m v&ecirc; o menino, saltando de edif&iacute;cios e fazendo cambalhotas com seus amigos. A menina pensa que o menino &eacute; louco. Oito anos depois, o menino descobre que ambos vivem em Nova York. O menino n&atilde;o iria cometer o mesmo erro novamente. O menino escreve &aacute; menina um bilhete e convida-a a um encontro. O menino e a menina n&atilde;o sabem ainda que se transformariam em marido e esposa. A menina e o menino brincam em torno da cidade. O menino faz a menina rir e tamb&eacute;m corar. A menina faz o menino querer aventurar-se. Eles passam por uma boca de inc&ecirc;ndio aperta e na brincadeira ficam todos molhados. O menino beija a menina quando a &aacute;gua os polvilha. A menina gosta do menino. O menino gosta da menina. Por 5 belos anos eles brincam e sonham e amam. O menino e a menina querem envelhecer juntos. Menino e menina v&atilde;o se casar!
					</p>
					<div class="numbers story white__text">
						<ol class="story-list" reversed type="1">
							<li>
								<p class="story-list-text">
									n&uacute;mero de anos desde que se conheceram.<span class="story-detail">(JOVENS UNIVERSITARIOS, QUE IGNORARAM-SE.)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de minutos antes que o Ross olhou diretamente nos olhos da Wel no primeiro encontro. <span class="story-details">(ELE ERA T&Iacute;MIDO)</span> 
								</p>
							</li>	
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de visitas &aacute; cabina de fotos do Bushwick Country Club para celebrar praticamente tudo. <span class="story-details">(MUITOS MAIS 
									CELEBRA&Ccedil;&oOtilde;ES FUTURAS)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de locais visitados antes de encontrar o local do casamento! <span class="story-details">(N&atilde;o podemos esperar at&eacute; estarmos com voc&ecirc;s todos!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de pa&iacute;ses representados pelos convidados que participam ao casamento! <span class="story-details">(N&Oacute;S AMAMOS-VOS!)</span> 
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de anos entre a primeira vez que se conheceram e o primeiro encontro. <span class="story-details">(WEL N&Atilde;O PODE ACREDITAR!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									Number of countries they have travelled to together. <span class="story-detail">(CAN’T WAIT TO TACK MORE ON!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de pa&iacute;ses que viajaram juntos. <span class="story-details">(ANSIOSOS PARA VIAJARAM!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de ch&aacute;s frios que a Wel bebe diariamente. <span class="story-details">(N&Atilde;O se pode ESQUE&Ccedil;er DA casca De LIM&Atilde;O!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de anos eles est&atilde;o juntos. <span class="story-details">(O TEMPO VOA)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de ordens de t&aacute;rtara de carne de bovino que o Ross comeu de uma s&oacute; vez. <span class="story-details">(IMPRESSIONANTE)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de apartamentos aonde viveram juntos. <span class="story-details">(NOSSOS NINHOS DE AMOR)</span>
								</p>	
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de noivam-nos. <span class="story-details">(N&Atilde;O PODE ESPERAR PARA O CASAMENTO!)</span>
								</p>	
							</li>
						</ol>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>

<div class="home__section itinerary events row">
	<div class="table__wrapper mobile-off">
			<div class="table__inner mobile-off">
				<div class="events our-story__text-wrapper">
					<h3 class="our-story navy__text text__align--center smaller">
						ITINER&Aacute;RIO
	
					</h3>
					<p class="navy__text desktop-only">
						N&oacute;s estamos AL&Eacute;M de excitados para comemorar com voc&ecirc;s! Abaixo est&aacute; a nossa programa&ccedil;&atilde;o de festividades para os tr&ecirc;s dias programados. Clique nos pontos para obter mais informa&ccedil;&otilde;es sobre cada evento, incluindo hora, local e dire&ccedil;&otilde;es.
					</p>
					<p class="navy__text mobile-only">
						N&oacute;s estamos AL&Eacute;M de excitados para comemorar com voc&ecirc;s! Abaixo est&aacute; a nossa programa&ccedil;&atilde;o de festividades para os tr&ecirc;s dias programados. Role para baixo para obter mais informa&ccedil;&otilde;es sobre cada evento, incluindo hora, local e dire&ccedil;&otilde;es.
					</p>
					<div class="desktop-only meet-and-greet event-image option-one active">
					</div>
					<div class="desktop-only wedding event-image option-two">
					</div>
					<div class="desktop-only reception event-image option-three">
					</div>
					<div class="desktop-only bbq event-image option-four">
					</div>
					<div class="row margin__bottom--40">
						<%= render partial: 'date-time-modules-pt' %>	
					</div>	
					<div class="events-details__wrapper row margin__bottom--40">
						<%= render partial: 'events-details-pt' %>	
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>

<div class="home__section transport travel">
	<div class="table__wrapper">
		<div class="table__inner">
			<div class="our-story__text-wrapper">
				<h3 class="our-story white__text text__align--center smaller">
					TRAVEL
				</h3>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<p class="white__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<p class="white__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<p class="white__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="home__section accomodations hotels row">
	<div class="table__wrapper mobile-off">
			<div class="table__inner mobile-off">
				<div class="hotels our-story__text-wrapper">
					<h3 class="our-story navy__text text__align--center smaller">
						ACCOMODATIONS
					</h3>
					<p class="navy__text">
						Temos quartos guardados em dois belos hotéis no coração do Vale do Rio Cávado.
						O primeiro, a Pousada Caniçada-Gerês, será a sede dos coquetéis na noite de domingo, 2 de julho.
						O segundo, a Pousada Mosteiro de Amares - é onde o casamento e a receção será realizada na segunda-feira, 3 de julho.
						Transporte para e de cada local será fornecido para o evento principal na segunda-feira!
						Clique nos pontos abaixo para obter mais detalhes. A preferência do hotel é por ordem de chegada, já que cada local é boutique e oferece uma experiência única e íntima.
						Para saber mais e reservar o seu quarto, escreva para<span class="email_address">catarina.ferreira@pestana.com</span> e use o assunto "Wel + Ross Wedding".
					</p>
					<div class="geres hotel-image option-one active">
					</div>
					<div class="amares hotel-image option-one">
					</div>
					<div class="options__line hotels">
					</div>
					<div class="options__wrapper">
						<div class="option__wrapper one">
							<div class="circle-indicator hotel option-one active">
								
							</div>
							<div class="option-text">
								<p class="navy__text larger">
									<a href="http://www.pousadas.pt/en/hotel/pousada-geres-canicada" target="_blank">
										Pousada Geres<br>
									</a>
								</p>
								<p class="hotel-text navy__text active">
									GERES ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</div>	
						</div>
						<div class="option__wrapper two">
							<div class="circle-indicator hotel option-two">
								
							</div>
							<div class="option-text">
								<p class="navy__text larger">
									<a href="http://www.pousadas.pt/en/hotel/pousada-amares" target="_blank">
										Pousada Mosteiro de Amares
									</a>
								</p>
								<p class="hotel-text navy__text">
									AMARES ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</div>	
						</div>
					</div>	
				</div>	
			</div>
		</div>	
	</div>
</div>

<!-- <div class="mobile-map-info__outer-wrapper">
	<div class="mobile map-info__wrapper">
		<div class="our-story__text-wrapper no-pad">
			<h3 class="venue our-story navy__text text__align--center smaller">
				VENUE
			</h3>
			<p class="navy__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
		<div class="map-info__blue-border">
			
		</div>
	</div>
</div>	

<div class="home__section map row">
	<div id="amares-map">
		
	</div>
	<div class="map-info__wrapper">
		<div class="our-story__text-wrapper no-pad">
			<h3 class="venue our-story navy__text text__align--center smaller">
				VENUE
			</h3>
			<p class="navy__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
		<div class="map-info__blue-border">
			
		</div>
	</div>
</div> -->



<div class="home__section registry row">
	<div class="table__wrapper mobile-off">
			<div class="table__inner mobile-off">
				<div class="hotels our-story__text-wrapper">
					<h3 class="our-story white__text text__align--center smaller">
						REGISTRO
					</h3>
					<p class="white__text">
						O que realmente mais queremos para o nosso casamento &eacute; ter todos os nossos amigos e fam&iacute;lia no mesmo espa&ccedil;o (realmente queremos dizer isso!) Dito isto, se voc&ecirc; realmente nos quiser algo pequenino pode verificar o registro abaixo.
					</p>
					<div class="registry__buttons--wrapper">
						<a class="inverse button centered" href="">
							REGISTRO
						</a>
					</div>
				</div>	
			</div>
		</div>		
	</div>
</div>

<div class="home__section rsvp section__four home row">
	<div class="table__wrapper">
		<div class="table__inner">
			<div class="section__four--header__wrapper white__border home">
				<div class="table__wrapper">
					<div class="table__inner">
						<div class="section__four--inner-wrapper">
							<p class="rsvp-message navy__text">
								Digite seu e-mail abaixo para confirmar ou atualizar seu status de atendimento.
							</p>
							<span class="error__message" id="errorMessage">
								
							</span>
							<form id="lookUpByEmail" action="/look-up-by-email">
								<input placeholder="Email" id="emailInput" type="text" name="email_address" class="form-control string optional">
								<button class="submit__button home-rsvp" type="button" id="emailLookUp">
									RSFF
								</button>
							</form>
						</div>	
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function() {
		$('.section__two--inner.image').backstretch('<%= asset_path("photo-strips.png") %>');
	});
</script>
<!-- <script>
  function initMap() {
    var amares = {lat: 41.659334, lng: -8.2706895};
    var map = new google.maps.Map(document.getElementById('amares-map'), {
		zoom: 12,
		center: amares,
		scrollwheel: false,
		mapTypeControl: false,
		scaleControl: false,
		// draggable: false,
		styles: [
		    {
		        "featureType": "administrative",
		        "elementType": "labels.text",
		        "stylers": [
		            {
		                "color": "#ff0000"
		            },
		            {
		                "visibility": "simplified"
		            }
		        ]
		    },
		    {
		        "featureType": "administrative",
		        "elementType": "labels.text.fill",
		        "stylers": [
		            {
		                "color": "#444444"
		            }
		        ]
		    },
		    {
		        "featureType": "landscape",
		        "elementType": "all",
		        "stylers": [
		            {
		                "color": "#f2f2f2"
		            }
		        ]
		    },
		    {
		        "featureType": "poi",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "road",
		        "elementType": "all",
		        "stylers": [
		            {
		                "saturation": -100
		            },
		            {
		                "lightness": 45
		            }
		        ]
		    },
		    {
		        "featureType": "road.highway",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "simplified"
		            }
		        ]
		    },
		    {
		        "featureType": "road.arterial",
		        "elementType": "labels.icon",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "transit",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "all",
		        "stylers": [
		            {
		                "color": "#46bcec"
		            },
		            {
		                "visibility": "on"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "geometry.fill",
		        "stylers": [
		            {
		                "color": "#23386D"
		            },
		            {
		                "saturation": "0"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "labels.text",
		        "stylers": [
		            {
		                "color": "#ffffff"
		            }
		        ]
		    }
		]
    });
	var icon = '<%= asset_path("wedding-icon.png") %>';
    var marker = new google.maps.Marker({
      position: amares,
      icon: icon,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl9VrzyocMSOkqpdC2DvGjWZeDeCDf-S8&callback=initMap" async defer></script> -->