<nav class="desktop-only row">
	<ul>
		<li>
			<p data-scroll-to="our-story" class="scroll-trigger">
				SOBRE N&Oacute;S
			</p>
		</li>
		<li>
			<p data-scroll-to="https://cluster.co/c/a915VwWGERQ/gallery?sort=time&ascending=0" class="scroll-trigger">
				FOTOS
			</p>
		</li>
		<li>
			<p data-scroll-to="registry" class="scroll-trigger">
				registo
			</p>
		</li>
	</ul>
</nav>
<div class="rsvp__header row">
	<div class="table__wrapper dark-blue__blackground">
		<div class="table__inner">
			<div class="hidden home header__name--wrapper home white__border">
				<div class="table__wrapper dark-blue__blackground">
					<div class="table__inner">
						<div class="margin__top--10 names__header text__align--center white__text">
							<span class="names__header">
								R
							</span>
							<span class="names__header plus">
								+
							</span>
							<span class="names__header right">
							 	W
							 </span>
							 <p class="margin__top--10 text__align--center section__four--content navy__text smaller">
							 	Julho 3, 2017
							 </p>
						</div>
					</div>
				</div>		
			</div>	
		</div>
	</div>
</div>
<div class="home__section section section__two home row our-story">
	<div class="section__two--inner image col-lg-6 col-md-6 col-sm-12">
	</div>
	<div class="section__two--inner blue col-lg-6 col-md-6 col-sm-12">
		<div class="table__wrapper">
			<div class="table__inner">
				<div class="our-story__text-wrapper">
					<h3 class="our-story white__text text__align--center smaller">
						SOBRE N&Oacute;S
					</h3>
					<ul class="story-tabs">
						<li display="block" class="story-trigger active">
							A Nossa Hist&oacute;ria
						</li>
						<li class="smaller" display="block">
							ou
						</li>
						<li display="block" class="story-trigger">
							Pelos N&uacute;meros
						</li>
					</ul>
					<p class="story white__text active">
						Treze anos atr&aacute;s, o menino v&ecirc; a menina ... mas de t&atilde;o nervoso, n&atilde;o se aproxima. A menina tamb&eacute;m v&ecirc; o menino, saltando de edif&iacute;cios e fazendo cambalhotas com seus amigos. A menina pensa que o menino &eacute; louco. Oito anos depois, o menino descobre que ambos vivem em Nova York. O menino n&atilde;o iria cometer o mesmo erro novamente. O menino manda &agrave; menina um bilhetinho convidando-a para um encontro. O menino e a menina n&atilde;o sabem ainda que um dia seriam marido e mulher. A menina e o menino brincam pela cidade fora. O menino faz a menina rir e tamb&eacute;m corar. A menina faz o menino querer aventurar-se. Eles passam por uma boca de inc&ecirc;ndio que jorrava &aacute;gua e na brincadeira ficam todos molhados. O menino beija a menina enquanto a &aacute;gua os salpicava. A menina gosta do menino. O menino gosta da menina. Nos 5 anos que se seguem, felizes eles brincam e sonham e amam. O menino e a menina querem envelhecer juntos. O menino e menina v&atilde;o casar!
					</p>
					<div class="numbers story white__text">
						<ol class="story-list" reversed type="1">
							<li>
								<p class="story-list-text">
									n&uacute;mero de anos desde que se conheceram.<span class="story-detail">(JOVENS UNIVERSITARIOS, QUE SE IGNORARAM.)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de minutos que o Ross levou para olhar a Wel diretamente nos olhos no primeiro encontro.<span class="story-details"> (O ROSS ERA T&Iacute;MIDO)</span> 
								</p>
							</li>	
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de visitas &agrave; cabina de fotos do Bushwick Country Club para celebrar praticamente tudo.<span class="story-details">(Planeamos MUITAS MAIS para celebra&ccedil;&otilde;es futuras!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de locais visitados antes de encontrar o local do casamento!<span class="story-details">(Esperamos como muita antecipa&ccedil;&atilde;o estar com voc&ecirc;s todos!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de pa&iacute;ses representados pelos convidados que venhem ao casamento!<span class="story-details">(QUEREMOS-VOS MUITO!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de anos entre a primeira vez que se conheceram e o primeiro encontro.<span class="story-details">(A WEL N&Atilde;O CONSEGUE ACREDITAR!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de pa&iacute;ses que viajaram juntos.<span class="story-detail">(ANSIOSOS PARA VIAJAR MUITO MAIS!)</span>
								</p>
							</li>
							<li>
								<p class="story-list-text">
									número de chás frios que a Wel bebe diariamente. <span class="story-details">(SEM ESQUE&Ccedil;ER O GOMO DO LIM&Atilde;O!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de anos eles est&atilde;o juntos.<span class="story-details">(O TEMPO VOA!)</span>
								</p>
							</li>

							<li>
								<p class="story-list-text">
									n&uacute;mero de meses de namoro antes de viverem juntos.<span class="story-details">(N&Oacute;S ANDAMOS DEPRESSA!)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de vezes que Ross repetiu o bife tartaro no mesmo jantar.<span class="story-details">(IMPRESSIONANTE)</span>
								</p>
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de apartamentos aonde vivemos juntos. <span class="story-details">(NOSSOS NINHOS DE AMOR)</span>
								</p>	
							</li>
							
							<li>
								<p class="story-list-text">
									n&uacute;mero de noivados de cada um.<span class="story-details">(ESTE CASAMENTO E ESPERADO COM MUITA ANTECIPA&Ccedil;&Atilde;O)</span>
								</p>	
							</li>
						</ol>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>


<div class="home__section registry row">
	<div class="table__wrapper mobile-off">
		<div class="table__inner mobile-off">
			<div class="hotels our-story__text-wrapper">
				<h3 class="our-story white__text text__align--center smaller">
					REGISTO DO CASAMENTO
				</h3>
				<p class="white__text">
					O que realmente queremos para o nosso casamento &eacute; ter todos voc&ecirc;s, amigos e fam&iacute;lia, no mesmo espa&ccedil;o (estamos a falar muito a s&eacute;rio!) Se para al&eacute;m disso nos quiserem oferecer algo vejam o registo abaixo.
				</p>
				<div class="registry__buttons--wrapper">
					<a class="inverse button centered" target="_blank" href="https://www.zola.com/registry/welandross">
						REGISTO
					</a>
				</div>
			</div>	
		</div>
	</div>
</div>
<div class="photos home__section registry row">
	<div class="table__wrapper mobile-off">
		<div class="table__inner mobile-off">
			<div class="photos our-story__text-wrapper">
				<h3 class="navy__text our-story text__align--center smaller">
					FOTOS DO CASAMENTO
				</h3>
				<div class="registry__buttons--wrapper">
					<a class="button centered" target="_blank" href="https://goo.gl/photos/uiSYF1W6xkHeo11m7">
						BEIJOS!
					</a>
				</div>
			</div>	
		</div>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function() {
		$('.section__two--inner.image').backstretch('<%= asset_path("photo-strips.png") %>');
	});
</script>
<!-- <div class="mobile-map-info__outer-wrapper">
	<div class="mobile map-info__wrapper">
		<div class="our-story__text-wrapper no-pad">
			<h3 class="venue our-story navy__text text__align--center smaller">
				VENUE
			</h3>
			<p class="navy__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
		<div class="map-info__blue-border">
			
		</div>
	</div>
</div>	

<div class="home__section map row">
	<div id="amares-map">
		
	</div>
	<div class="map-info__wrapper">
		<div class="our-story__text-wrapper no-pad">
			<h3 class="venue our-story navy__text text__align--center smaller">
				VENUE
			</h3>
			<p class="navy__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>	
		<div class="map-info__blue-border">
			
		</div>
	</div>
</div> -->
<!-- <script>
  function initMap() {
    var amares = {lat: 41.659334, lng: -8.2706895};
    var map = new google.maps.Map(document.getElementById('amares-map'), {
		zoom: 12,
		center: amares,
		scrollwheel: false,
		mapTypeControl: false,
		scaleControl: false,
		// draggable: false,
		styles: [
		    {
		        "featureType": "administrative",
		        "elementType": "labels.text",
		        "stylers": [
		            {
		                "color": "#ff0000"
		            },
		            {
		                "visibility": "simplified"
		            }
		        ]
		    },
		    {
		        "featureType": "administrative",
		        "elementType": "labels.text.fill",
		        "stylers": [
		            {
		                "color": "#444444"
		            }
		        ]
		    },
		    {
		        "featureType": "landscape",
		        "elementType": "all",
		        "stylers": [
		            {
		                "color": "#f2f2f2"
		            }
		        ]
		    },
		    {
		        "featureType": "poi",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "road",
		        "elementType": "all",
		        "stylers": [
		            {
		                "saturation": -100
		            },
		            {
		                "lightness": 45
		            }
		        ]
		    },
		    {
		        "featureType": "road.highway",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "simplified"
		            }
		        ]
		    },
		    {
		        "featureType": "road.arterial",
		        "elementType": "labels.icon",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "transit",
		        "elementType": "all",
		        "stylers": [
		            {
		                "visibility": "off"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "all",
		        "stylers": [
		            {
		                "color": "#46bcec"
		            },
		            {
		                "visibility": "on"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "geometry.fill",
		        "stylers": [
		            {
		                "color": "#23386D"
		            },
		            {
		                "saturation": "0"
		            }
		        ]
		    },
		    {
		        "featureType": "water",
		        "elementType": "labels.text",
		        "stylers": [
		            {
		                "color": "#ffffff"
		            }
		        ]
		    }
		]
    });
	var icon = '<%= asset_path("wedding-icon.png") %>';
    var marker = new google.maps.Marker({
      position: amares,
      icon: icon,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl9VrzyocMSOkqpdC2DvGjWZeDeCDf-S8&callback=initMap" async defer></script> -->